.benias-board-cell {
    position: absolute;
    width: 4.8%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #c92a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.benias-board-cell.is-start {
    border: 4px solid #ffd700;
    box-shadow: 0 0 20px 5px rgba(255, 215, 0, 0.6);
}

.benias-board-cell.is-end {
    border: 4px solid #40c057;
    /* Green */
    background-color: #e9fac8;
    box-shadow: 0 0 15px 3px rgba(64, 192, 87, 0.5);
}

.benias-board-cell-text {
    color: #c92a2a;
    /* red.7 */
    font-weight: 900;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    user-select: none;
}